<!DOCTYPE html> <!-- version 5 del lenguaje html-->
<html lang="es"><!--El atributo lang sirve para determinar el lenguaje-->
    <head>
        <meta charset="utf-8"/><!--Codificacion de caracteres como imagenes videos y demas-->
        <title>MercadoLiebre</title> <!--titulo de la parte superior de la pagina-->
        <meta name="description" content="Esta es mi primera pagina web"/><!--Esta etiqueta no tiene meta de cierre pero si tiene muchos atributos para dar mas informacion-->
        <meta name="author" content="Sebastian ibarguen"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    </head>
    <body>
    </body>
    <header >
        <section id="top-bar">
        <div id="cabeza">
            <img id="logo" src="/img/logo-mercado-liebre.svg"></img>
            <input id="barra-busqueda" type="search" placeholder="Buscar productos, marcas"> </input>
            <button id="boton1" type="submit"><i class="fas fa-search"></i></button>
        </div>
        <div id="compra">
            <h3 ><i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjetas de credito</h3>
        </div>
        </section>
        <div id="oculto-celu">
            <nav id="navegacion">
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul type="none">
                <li><a href="#">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            </nav>
        </div>
        <div id="menuHamburguesa">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main>
        <div id="banner">
            <img src="/img/img-home-banner.jpg"></img>
        </div>
        <section class="articulo-general">
            <ul type="none">
                <li><h2 class="titular">Basado en tu ultima visita</h2></li>
            </ul>
            <article class="art">
            <div>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
            <article class="articulo">
            <i class="fas fa-truck"></i>
            <section class="textoDeArticulo">
            <h4 class="precios">$67.000</h4>
            <h4 class="descuentos-descripciones">40% Off</h4>
            <h3 class="descripciones">Cafetera moulinex</h3>
            </section>
            </article>
            </div>

            <div>
                <img src="/img/mouse.jpg" alt="mouse">
                <article class="articulo">
                <i class="fas fa-truck"></i>
                <section class="textoDeArticulo">
                <h4 class="precios">$37.000</h4>
                <h4 class="descuentos-descripciones">40% Off</h4>
                <h3 class="descripciones">Mouse Logitech</h3>
                </section>
                </article>
            </div>
            <div>
                <img src="/img/teclado.jpg" alt="Teclado">
                <article class="articulo">
                <i class="fas fa-truck"></i>
                <section class="textoDeArticulo">
                <h4 class="precios">$27.000</h4>
                <h4 class="descuentos-descripciones">40% Off</h4>
                <h3 class="descripciones">Teclado Logitech</h3>
                </section>
                </article>
            </div>
            <div>
                <img src="/img/xbox.jpg" alt="xbox">
                <article class="articulo">
                <i class="fas fa-truck"></i>
                <section class="textoDeArticulo">
                <h4 class="precios">$270.000</h4>
                <h4 class="descuentos-descripciones">20% Off</h4>
                <h3 class="descripciones">Xbox 360</h3>
                </section>
                </article>
            </div>
            <div>
                <img src="/img/bicicleta.jpg" alt="bicicleta">
                <article class="articulo">
                <i class="fas fa-truck"></i>
                <section class="textoDeArticulo">
                <h4 class="precios">$10.000</h4>
                <h4 class="descuentos-descripciones">40% Off</h4>
                <h3 class="descripciones">bicicleta</h3>
                </section>
                </article>
            </div>
            <div>
                <img src="/img/play.jpg" alt="Play">
                <article class="articulo">
                <i class="fas fa-truck"></i>
                <section class="textoDeArticulo">
                <h4 class="precios">$1.000.000</h4>
                <h4 class="descuentos-descripciones">10% Off</h4>
                <h3 class="descripciones">Play 5</h3>
                </section>
                </article>
            </div>
            <div>
                <img src="/img/silla.jpg" alt="Silla">
                <article class="articulo">
                <i class="fas fa-truck"></i>
                <section class="textoDeArticulo">
                <h4 class="precios">$70.000</h4>
                <h4 class="descuentos-descripciones">60% Off</h4>
                <h3 class="descripciones">Silla Gamer</h3>
                </section>
                </article>
            </div>
            <div>
            <img src="/img/img-tv-samsung-smart.jpg" alt="Televisor">
            <article class="articulo">
            <i class="fas fa-truck"></i>
            <section class="textoDeArticulo">
            <h4 class="precios">$500.000</h4>
            <h4 class="descuentos-descripciones">25% Off</h4>
            <h3 class="descripciones">Televisor Samsung Smart Tv</h3>
            </section>
            </article>
            </div>
        </article>
        </section>

        <section class="articulo-general">
            <ul type="none">
                <li><h2 class="titular">Sección de Ofertas</h2></li>
            </ul>
            <article class="art">
            <div>
            <img src="/img/img-macbook-pro-2019.jpg" alt="Mack Book" >
            <article class="articulo">
            <i class="fas fa-truck"></i>
            <section class="textoDeArticulo">
            <h4 class="precios">$3.200.000</h4>
            <h4 class="descuentos-descripciones">10% Off</h4>
            <h3 class="descripciones">MacBook pro 2019</h3>
            </section>
            </article>
            </div>
            <div>
                <img src="/img/silla.jpg" alt="Silla">
                <article class="articulo">
                <i class="fas fa-truck"></i>
                <section class="textoDeArticulo">
                <h4 class="precios">$70.000</h4>
                <h4 class="descuentos-descripciones">60% Off</h4>
                <h3 class="descripciones">Silla Gamer</h3>
                </section>
                </article>
            </div> 
            <div>
                <img src="/img/mouse.jpg" alt="mouse">
                <article class="articulo">
                <i class="fas fa-truck"></i>
                <section class="textoDeArticulo">
                <h4 class="precios">$37.000</h4>
                <h4 class="descuentos-descripciones">40% Off</h4>
                <h3 class="descripciones">Mouse Logitech</h3>
                </section>
                </article>
            </div> 
            <div>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Televisor">
            <article class="articulo">
            <i class="fas fa-truck"></i>
            <section class="textoDeArticulo">
            <h4 class="precios">$1.000.000</h4>
            <h4 class="descuentos-descripciones">35% Off</h4>
            <h3 class="descripciones">Samsung Galaxy s10</h3>
            </section>
            </article>
        </div>
    </article>
        </section>
    </main>
    <footer>
        <section id="abajo">
            <div class="recomendaciones">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="recomendaciones">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="recomendaciones">
            <i class="fas fa-credit-card"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>

        </section>
        <br>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</html>


